a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
ul{
    list-style-type: none;
    padding-left: 0;
}
.footer{
    color:orange;
}
.product_img{
    border: 3px double gold;
}
body{
    background-color: rgb(32, 31, 31);
    color:darkgray;
    font-family: fantasy;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
textarea{
    background-color: rgb(32, 31, 31);
    color: darkgray;
}
input{
    background-color: rgb(32, 31, 31);
    color: darkgray;
}