#first{
    color: darkgray;
}
#second{
    list-style-type: none;
    padding-left: 0px;
}
.header{
    background-color: rgb(62, 62, 62);
    border-radius: 3px;
    height: 80px;
}
.footer{
    color:orange;
    background-color: rgb(62, 62, 62);
    border-radius: 3px;
    height: 50px;
}
.menu{
    list-style-type: none;
    display: inline-block;
    position: absolute;
    right: 30px;
    margin-top: 0px;
}
.mlink{
    text-decoration: none; 
    color: rgb(255, 255, 255);
}
.imenu{
    margin-top: 25px;
    display: inline-block;
    margin-right: 5px;
}
.i9{
    display: inline-block;
    justify-content: center;
    vertical-align: top;
}
.img_i9{
    border: 3px double rgba(255, 217, 0, 0.726);
    vertical-align: top;
    float: left;
    margin-right: 10px;
}
.product{
    display: inline-block;
    margin-right: 10px;
}
.container{
    margin-right:20px;
    margin-left: 20px;
}
.product_img{
    border: 3px double rgba(255, 217, 0, 0.726);
}
.logo{
    display: inline-block;
    width: 120px;
    height: 60px;
}
button{
    background-color: rgb(31, 31, 31);
    color: darkgray;
    position: relative;
    left: 94.5%;
}
body{
    background-color: rgb(31, 31, 31);
    color:darkgray;
    font-family: URW Chancery L, cursive;
    margin: 5px;
}
h1{
    font-family: Comic Sans MS, Comic Sans, cursive;
}
h2{
    font-family: Comic Sans MS, Comic Sans, cursive;
}
h3{
    font-family: Comic Sans MS, Comic Sans, cursive;
}
textarea{
    background-color: rgb(31, 31, 31);
    color: darkgray;
}
input{
    background-color: rgb(31, 31, 31);
    color: darkgray;
}
a{
    color:rgba(255, 217, 0, 0.726);
    text-decoration: none;
}
a:hover{
    color: red;
}
@media screen and (max-width:350px){
    .header{
        height: 150px;
    }
    .imenu{
        display: block;
    }
    body{
        font-size: 10px;
    }
    .logo{
        height: 50px;
        width: 80px;
    }
}
